
  <footer class="footer pt-5 mt-5">
    <div class="container">
      <div class=" row">
        <div class="col-md-8 ms-auto" style="font-size: small;">
          <p style="font-size: small;">Web services initiated January, 1994 as
              <a href="http://www.ncbi.nlm.nih.gov/pubmed?term=8043953">
                  The Portable Dictionary of the Mouse Genome
              </a>; June 15, 2001 as <a href="https://www.ncbi.nlm.nih.gov/pubmed/15043217">WebQTL</a>; and Jan 5, 2005 as GeneNetwork.
          </p>
          <p style="font-size: small;">
              This site is currently operated by
              <a href="mailto:rwilliams@uthsc.edu">Rob Williams</a>,
              <a href="https://thebird.nl/">Pjotr Prins</a>,
              <a href="http://www.senresearch.org">Saunak Sen</a>,
              <a href="mailto:zachary.a.sloan@gmail.com">Zachary Sloan</a>,
              <a href="mailto:acenteno@uthsc.edu">Arthur Centeno</a>,
              and <a href="mailto:bonfacemunyoki@gmail.com">Bonface Munyoki</a>.
          </p>
          <p style="font-size: small;">Design and code by Pjotr Prins, Shelby Solomon, Zach Sloan, Arthur Centeno, Christan Fischer, Bonface Munyoki, Danny Arends, Arun Isaac, Alex Mwangi, Fred Muriithi, Sam Ockman, Lei Yan, Xiaodong Zhou, Christian Fernandez,
              Ning Liu, Rudi Alberts, Elissa Chesler, Sujoy Roy, Evan G. Williams, Alexander G. Williams, Kenneth Manly, Jintao Wang, Robert W. Williams, and
              <!--<a href="http://genenetwork.org/credit.html">colleagues</a>.</p>-->
          <a href="/credits">colleagues</a>.</p>
          <br />
          <p style="font-size: small;">GeneNetwork support from:</p>
            <ul>
                <li>
                    <a href="http://citg.uthsc.edu">
                        The UT Center for Integrative and Translational Genomics
                    </a>
                </li>
                <li>
                    <a href="https://www.nigms.nih.gov/">NIGMS</a>
                    Systems Genetics and Precision Medicine Project (R01 GM123489, 2017-2026)
                </li>
                <li>
                    <a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=2118709">NSF</a>
                    Panorama: Integrated Rack-Scale Acceleration for Computational Pangenomics
                    (PPoSS 2118709, 2021-2016)
                </li>
                <li>
                    <a href="https://www.drugabuse.gov/">NIDA</a>
                    NIDA Core Center of Excellence in Transcriptomics, Systems Genetics, and the Addictome (P30 DA044223, 2017-2022)
                </li>
                <li>
                    <a href="http://www.nia.nih.gov/">NIA</a>
                    Translational Systems Genetics of Mitochondria, Metabolism, and Aging (R01AG043930, 2013-2018)
                </li>
                <li>
                    <a href="https://www.ohsu.edu/iniastress-consortium">NIAAA</a>
                    Integrative Neuroscience Initiative on Alcoholism (U01 AA016662, U01 AA013499, U24 AA013513, U01 AA014425, 2006-2017)
                </li>
                <li>
                    <a href="http://www.drugabuse.gov/">NIDA</a>, <a href="http://www.nimh.nih.gov/">NIMH</a>, and <a href="http://www.niaaa.nih.gov/">NIAAA</a>
                    (P20-DA 21131, 2001-2012)
                </li>
                <li>
                    NCI <a href="http://emice.nci.nih.gov/">MMHCC</a> (U01CA105417), NCRR, <span class="broken_link test" href="http://www.birncommunity.org/">BIRN</span>, (U24 RR021760)
                </li>
            </UL>
                <!--</p>-->
          <p style="font-size: small;">Published in
              <a href="http://joss.theoj.org/papers/10.21105/joss.00025"><img src="https://camo.githubusercontent.com/846b750f582ae8f1d0b4f7e8fee78bed705c88ba/687474703a2f2f6a6f73732e7468656f6a2e6f72672f7061706572732f31302e32313130352f6a6f73732e30303032352f7374617475732e737667" alt="JOSS" data-canonical-src="http://joss.theoj.org/papers/10.21105/joss.00025/status.svg" style="max-width:100%;"></a>
          </p>
          <p style="font-size: small;">
              Development and source code on <a href="https://github.com/genenetwork/">github</a> with <a href="https://issues.genenetwork.org/">issue tracker</a> and <a href="https://github.com/genenetwork/genenetwork2/blob/master/README.md">documentation</a>.
          </p>
        </div>
        <div class="col-md-3 mb-4 ms-auto">
          <a href="http://www.python.org/" target="_blank">
                    <img src="{{ url_for('static', filename='assets/img/PythonLogo.png') }}" alt="Python Powered" border="0">
          </a>
          <a href="http://www.neuinfo.org" target="_blank">
              <img src="{{ url_for('static', filename='assets/img/Nif.png') }}" alt="Registered with Nif" border="0">
          </a>
        </div>
        <div class="col-12">
          <div class="text-center">
            <p class="text-dark my-4 text-sm font-weight-normal">
              &copy; <a href="https://genenetwork.org" class="font-weight-bold" target="_blank">A GeneNetwork.org Site</a>
              coded by the <a href="http://github.com/genenetwork" target="_blank"> GN Team</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>


