
<footer class="footer position-absolute bottom-2 py-2 w-100">
      <div class="container">
        <div class="row align-items-center justify-content-lg-between">
          <div class="col-12 col-md-6 my-auto">
            <div class="copyright text-center text-sm text-white text-lg-start">
              &copy; <a href="https://genenetwork.org" class="font-weight-bold text-white" target="_blank">A GeneNetwork.org Site</a>
              coded by the <a href="http://github.com/genenetwork" target="_blank"> GN Team</a>.
            </div>
          </div>
          <div class="col-12 col-md-6">
            <ul class="nav nav-footer justify-content-center justify-content-lg-end">
              <li class="nav-item">
                <a href="https://gn1.genenetwork.org/webqtl/main.py" class="nav-link text-white" target="_blank">WebQTL/GeneNetwork 1</a>
              </li>
              <li class="nav-item">
                <a href="https://gn2.genenetwork.org" class="nav-link text-white" target="_blank">GN 2</a>
              </li>
              <li class="nav-item">
                <a href="https://appseed.us" class="nav-link text-white" target="_blank">GN 3</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
