{% from "layouts/gn-base_macro.html" import header, flash_me, timeago %}
<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} GeneNetwork 2</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <script type="text/javascript">
    var pageLoadStart = Date.now();
    </script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {% block css %}
    {% endblock %}
    
</head>

<body style="width: 100%">
    <!-- Navbar ================================================== -->
    <div class="navbar navbar-inverse navbar-static-top pull-left" role="navigation" style="width: 100%; min-width: 850px; white-space: nowrap;">
        <div class="container-fluid" style="width: 100%;">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div>
                <ul class="nav navbar-nav">
                    <li class="" style="margin-right: 20px;">
                        <a href="/" style="font-weight: bold;">GeneNetwork</a>
                    </li>
                    <li class="">
                        <a href="/help" class="dropdow-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Intro <span class="caret"></a>
                        <ul class="dropdown-menu">
                            <li><a href="/intro">Intro</a></li>
                            <li><a href="/submit_trait">Submit Trait</a></li>
                            <li><a href="http://genenetwork.org/webqtl/main.py?FormID=batSubmit">Batch Submission</a></li>
                        </ul>
                    </li>
                    <li class="">
                        <a href="/help" class="dropdow-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tools <span class="caret"></a>
                        <ul class="dropdown-menu">
                            <li><a href="/snp_browser">Variant Browser</a></li>
                            <li><a href="http://bnw.genenetwork.org/sourcecodes/home.php">Bayesian Network Webserver</a></li>
                            <li><a href="https://systems-genetics.org/">Systems Genetics PheWAS</a></li>
                            <li><a href="http://ucscbrowser.genenetwork.org/">Genome Browser</a></li>
                            <li><a href="http://power.genenetwork.org">BXD Power Calculator</a></li>
                            <li><a href="https://files.genenetwork.org/current/">Public Datasets</a></li>
                        </ul>
                    </li>
                    <li class="">
                        <a href="/repositories" class="dropdow-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Source Code <span class="caret"></a>
                        <ul class="dropdown-menu">
                            <li><a href="https://github.com/genenetwork/genenetwork2">GN2 Source Code</a></li>
                            <li><a href="https://github.com/genenetwork/genenetwork">GN1 Source Code</a></li>
                            <li><a href="https://github.com/genenetwork/sysmaintenance">System Maintenance Code</a></li>
                            <li><a href="https://github.com/genenetwork/genenetwork2/blob/testing/doc/API_readme.md">REST API Documentation</a></li>
                        </ul>
                    </li>
                    <li class="">

                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="width: 100%; min-width: 650px; position: relative;background-color: #d5d5d5; height: 100px;">
        <form id="gnqna_search_home" method="POST" action="/gnqna" style="display:none;width: 100%;">
           
           <div >
              <input  id="gnqna_search_home_input" style="width:45vw" type="text" autocomplete="off" 
required placeholder="Ask More Questions or Topics (E.g Genes) " value='' name="querygnqa">  
           </div> 
        </form>

    </div>
    {% include 'includes/footer_gn.html' %} 
    
    <!--http://stackoverflow.com/questions/14045515/how-can-i-reuse-one-bootstrap-modal-div-->
    <!-- Modal -->
    <div id="utility" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-body">
            <p>.</p>
        </div>
    </div>
</body>

</html>
